{% extends 'base.html' %}

{% block content %}
  
<h2 class = "pagetitle">Save your magical memories forever!</h2>
<section class = "featured">
    <div class = "parkland">
        <h3 class = "plheader">Welcome!</h3>
        <p>This app has been made using Python and Flask! It's a bucket list for all your Disneyland Paris plans! Click 'Add Land' to create new entries for lands within the Disney Parks. Add new attractions to your list and explore all the magic there is to find! Create notes to cherish memories and reminisce all the magical good times! </p>
        <p>(This app is just for fun! Disney own all rights to all things Disney.)</p>
        <a href="https://github.com/ruthierutho/disneyland_bucketlist_python_project">github of project files here</a>
    </div>
   <div class = "parkland">
    <h3 class = "plheader">Disneyland Park:</h3>
    <ul class = "list">
        {% for land in lands if land.park.name == "Disneyland Park" %}
        <li><a class = "link" href="/lands/{{land.id}}">{{ land.name }}</a>
           <p> 
            {% if land.visited == True %}
                -Seen!
            {% else %}
                -Still to see!
            {% endif %}
            
           </p>
        </li>
        {% endfor %}
    </ul>
    <p>
        <button class = "button"><a class = "linkb" href="/lands/new">Add Land</a></button> 
     </p>
    </div>
    <div class = "parkland">
    <h3 class = "plheader">Walt Disney</h3>
    <h3 class = "plheader">Studios Park:</h3>
    <ul class = "list">
        {% for land in lands if land.park.name == "Walt Disney Studios Park" %}
        <li><a class = "link" href="/lands/{{land.id}}">{{ land.name }}</a>
           <p> 
            {% if land.visited == True %}
                -Seen!
            {% else %}
                -Still to see!
            {% endif %}
           </p>
        </li>
        {% endfor %}
    </ul>

    <p>
        <button class = "button"><a class = "linkb" href="/lands/new">Add Land</a></button> 
    </p>
    </div>



</section>

<p>
    <button class= "button"><a class = "linkb" href="/parks/new">Add Park</a></button>
</p>
    
{% endblock content %}
