{% extends 'base.html' %}

{% block content %}
    <h2>Attractions</h2>

    <p>
       <button> <a class = "link" href="/attractions/new">Add Attraction</a> </button>
    </p>

    <ul>
        {% for attraction in attractions %}
        <li><a class = "link" href="/attractions/{{attraction.id}}">{{ attraction.name }}</a> in {{ attraction.land.name }}
            <p> 
                {% if attraction.visited == True %}
                    -Seen!
                {% else %}
                    -Still to see!
                {% endif %}
               </p>
            <p>My notes: {{ attraction.notes}} </p>
        </li>
        
            
        {% endfor %}
    </ul>
    
{% endblock content %}