{% extends 'base.html' %}

{% block content %}
    <h2>Attractions</h2>

    <p>
       <button> <a href="/attractions/new">Add Attraction</a> </button>
    </p>

    <ul>
        {% for attraction in attractions %}
        <li><a href="/attractions/{{attraction.id}}">{{ attraction.name }}</a> in {{ attraction.land.name }}
            <p>Visited {{ attraction.visit_count }} times</p>
            <p>My notes: {{ attraction.notes}} </p>
        </li>
        
            
        {% endfor %}
    </ul>
    
{% endblock content %}