{% extends 'base.html' %}
{% block content %}
    <div>
        <b>{{attraction.name}}</b>
        in {{attraction.land.name}}
        <p> 
            {% if attraction.visited == True %}
                -Seen!
            {% else %}
                -Still to see!
            {% endif %}
        </p>
        <p>Notes: {{attraction.notes}}</p>
        <p>
            <button class = "button"><a class = "linkb" href="/attractions/{{attraction.id}}/edit">Edit</a></button>
            </p>
            <p>
            <form class="delete-form" action="/attractions/{{attraction.id}}/delete" method="POST">
                <button class = "linkb">Delete</button>
            </form>
        </p>
    </div>
{% endblock content %}