{% extends 'base.html' %}
{% block content %}
    <div>
        <b>{{attraction.name}}</b>
        in {{attraction.land.name}}
        <p> 
            {% if attraction.visited == True %}
                -Seen!
            {% else %}
                -Still to see!
            {% endif %}
        </p>
        <p>Visits: {{attraction.visit_count}}</p>
        <p>Notes: {{attraction.notes}}</p>
        <a href="/attractions/{{attraction.id}}/edit">Edit</a>
        <form class="delete-form" action="/attractions/{{attraction.id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
{% endblock content %}