{% extends 'base.html' %}

{% block content %}
    <h2>Still to See</h2>
    <ul>
        {% for attraction in attractions if attraction.visited == False %}
        <li><a class = "link" href="/attractions/{{attraction.id}}">{{ attraction.name }}</a> in {{ attraction.land.name }}
         
            <p>My notes: {{ attraction.notes}} </p>
        </li>
        
            
        {% endfor %}
    </ul>
    <p>
        <button class="button"> <a class = "linkb" href="/attractions/new">Add Attraction</a> </button>
    </p>
    
{% endblock content %}