#header {
  text-decoration: none;
  color:rgb(255, 192, 203);
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin: 0px;
  text-align: center;
   
} 

h1 {
  margin: 0px;
  padding: 10px;
 
}

h2 {
  color: lightcoral;
  font-size: 25px;
  text-align: center;
}

.pagetitle {
  margin-left: 40px;
  margin-bottom: 0px;
  font-size: 30px;
}

.pagefoot {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 30px;
}

#top_of_page {
  background-color: lightcoral;
  padding-top: 8%;
  padding-left: 30px;
  height: 38%;

}

#basenav {
  padding: 10px;
  margin-left: 10px;
 text-align: center;

}

.navbar {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: lightcoral;
  background-color: rgb(255, 192, 203);
  font-size: 20px;
  font-weight: bold;
  margin: 10px;


}

.navbar:hover {
  text-decoration: none;
  color: yellow;
  outline: hotpink;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 20px;

}

.parkland {
  background-color: lightcoral;
  border: 5px solid hotpink;
  padding: 20px;
  text-align: left;
  margin: 20px;
  border-radius: 5px;

}


body {
  /* background: url('/static/images/castlebig.jpg'); */
  background-size: auto;
  background-repeat: repeat;
  background-color: rgb(255, 192, 203);
  color: rgb(255, 192, 203);
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;

}

.plheader {
  text-align: left;
  margin: 0px;
}

.list {
  list-style-type: none;
  padding-left: 0px;
 
  
}
.list_attractions {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 20px;
  
}

.notes {
  width: 150px;
}

.link {
  text-decoration: none;
  color: rgb(255, 192, 203);
  font-weight: bold;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.link:hover {
  text-decoration: none;
  color: rgb(235, 23, 129);;
  font-weight: bold;
  font-size: larger;
}

.linkb {
  text-decoration: none;
  color: deeppink;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  
}

.linkb:hover {
  text-decoration: none;
  color: yellow;
  font-size: medium;
}

.button {
  background-color: pink;
  color: deeppink;
  font-size: medium;
  padding: 5px;
  margin-right: 10px;
  border: 2px solid hotpink;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
}

.button:hover {
  text-decoration: none;
  color: yellow;
  font-size: medium;

}



/* .footer {
  background-color: pink;
  padding: 10px
  position: absolute;
} */

.footer_content {
  text-align: center;
  color: rgb(235, 23, 129);
  margin: 0px;
}