<!DOCTYPE html>
<html>
    <head>
        <title>Disney Bucket List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
    </head>
    <body>
        <header>
            <a href="/"><h1>Disney Bucket List</h1></a>
        <nav>
            
                <button><a href="/parks">Parks</a></button>
                <button><a href="/lands">Lands</a></button>
                <button><a href="/attractions">Attractions</a></button>
                <button><a href="/still_to_see">Still to See</a></button>
                <button><a href="/seen">Seen</a></button>
          
        </nav>
        </header>
        <section>
            {% block content %}
            {% endblock content %}
        </section>
    </body>



</html>