<!DOCTYPE html>
<html>
    <head>
        <title>Disneyland Dreams</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  
    </head>
    <body>
        <header id="top_of_page">
            <a id="header" href="/"><h1>Disneyland Dreams</h1><i class="fas fa-hat-wizard"></i></a>
        <nav>
            
                <!-- <button><a class="navbar" href="/parks">Parks</a></button> -->
                <!-- <button><a class="navbar" href="/lands">Lands</a></button> -->
                <button><a class="navbar" href="/attractions">Attractions</a></button>
                <button><a class="navbar" href="/still_to_see">Still to See</a></button>
                <button><a class="navbar" href="/seen">Seen</a></button>
          
        </nav>
        <br>
        </header>
        <section>
            {% block content %}
            {% endblock content %}
        </section>
    </body>



</html>