{% extends 'base.html' %}

{% block content %}
<section id = "featured">
   <div class = "parkland">
    <h2>Magic Kindom:</h2>
    <ul>
        {% for land in lands if land.park.name == "Magic Kingdom" %}
        <li><a class = "link" href="/lands/{{land.id}}">{{ land.name }}</a>
           <p> 
            {% if land.visited == True %}
                -Seen!
            {% else %}
                -Still to see!
            {% endif %}
            
           </p>
        </li>
        {% endfor %}
    </ul>
    <p>
        <button><a class = "linkb" href="/lands/new">Add Land</a></button> 
     </p>
    </div>
    <div class = "parkland">
    <h2>Disney Studios:</h2>
    <ul>
        {% for land in lands if land.park.name == "Disney Studios" %}
        <li><a class = "link" href="/lands/{{land.id}}">{{ land.name }}</a>
           <p> 
            {% if land.visited == True %}
                -Seen!
            {% else %}
                -Still to see!
            {% endif %}
           </p>
        </li>
        {% endfor %}
    </ul>

    <p>
        <button><a class = "linkb" href="/lands/new">Add Land</a></button> 
    </p>
    </div>
</section>
{% endblock content %}